# Model paths
SIGN_MODEL_BEST_PATH=exports_yolo/sign/best/
SIGN_MODEL_LAST_PATH=exports_yolo/sign/last/
LANE_MODEL_BEST_PATH=exports_yolo/lane/best/
LANE_MODEL_LAST_PATH=exports_yolo/lane/last/

# Server settings
HOST=0.0.0.0
PORT=8000
DEBUG=True